@import "variables";
@import "fonts/sfCompactDisplay";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $main-background;
  font-family: "SF Compact Display", sans-serif;
  @media (max-width: 1599px) {
    padding: 0 10px;
  }
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.app__container {
  max-width: 1600px;
  margin: auto;
}
